﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<!--
		Copyright © 2010 Phil Booth

		This file is part of VSPomodoro.

		VSPomodoro is free software: you can redistribute it and/or modify
		it under the terms of the GNU General Public License as published
		by the Free Software Foundation, either version 3 of the License,
		or (at your option) any later version.

		VSPomodoro is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
		General Public License for more details.

		You should have received a copy of the GNU General Public License
		along with VSPomodoro.  If not, see <http://www.gnu.org/licenses/>.
	-->

	<head>
		<title>VSPomodoro</title>

		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

		<base href="{0:%s}" />

		<link href="VSPomodoro.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript">
			// <![CDATA[
			var VSPomodoro = (function() {{
				var self = this;

				self.onClickStart = function() {{
					start();
				}};

				var start = function() {{
					if(verifyTimerInputsAreValid(minutes, seconds)) {{
						timer = setInterval(function() {{
							if(seconds === 1 && minutes === 0) {{
								stop();
								decrementSeconds();
								alarm();
							}} else {{
								if(seconds > 0) {{
									decrementSeconds();
								}} else {{
									seconds = 59;
									decrementMinutes();
								}}
							}}
						}}, 1000);
					}}
				}};

				var verifyTimerInputsAreValid = function(m, s) {{
					return ((m > 0 && s >= 0) || (m >= 0 && s > 0)) && m < 100 && s < 100;
				}};

				var stop = function() {{
					if(timer) {{
						clearInterval(timer);
						timer = undefined;
					}}
				}};

				var decrementSeconds = function() {{
					--seconds;
					refreshView();
				}};

				var refreshView = function() {{
					initialiseDigits();
					setDigit(digits.second.tens, formatNumber(seconds).charAt(0));
					setDigit(digits.second.units, formatNumber(seconds).charAt(1));
					setDigit(digits.minute.tens, formatNumber(minutes).charAt(0));
					setDigit(digits.minute.units, formatNumber(minutes).charAt(1));
				}};

				var initialiseDigits = function() {{
					if(digits.initialised === false) {{
						digits.initialised = true;
						digits.second.tens = document.getElementById('second-tens');
						digits.second.units = document.getElementById('second-units');
						digits.minute.tens = document.getElementById('minute-tens');
						digits.minute.units = document.getElementById('minute-units');
					}}
				}};

				var formatNumber = function(number) {{
					if(number < 10) {{
						return '0' + number;
					}}
					return '' + number;
				}};

				var setDigit = function(digit, value) {{
					digit.setAttribute('src', value + '.png');
				}};

				var alarm = function() {{
					//initialiseAlarmInputs();
					//external.Alarm(alarmInputs.audio.checked, alarmInputs.visual.checked, alarmInputs.displayMessage.checked ? alarmInputs.message.value : null);
					external.Alarm(true, true, "Time's up, now take a break!");
				}};

				var decrementMinutes = function() {{
					--minutes;
					refreshView();
				}};

				//var initialiseAlarmInputs = function() {{
				//	if(alarmInputs.initialised === false) {{
				//		alarmInputs.initialised = true;
				//		alarmInputs.audio = document.getElementById('input-audio');
				//		alarmInputs.visual = document.getElementById('input-visual');
				//		alarmInputs.displayMessage = document.getElementById('input-display-message');
				//		alarmInputs.message = document.getElementById('input-message');
				//	}}
				//}};

				self.onClickStop = function() {{
					stop();
				}};

				self.onClickReset = function() {{
					initialiseTimerInputs();
					if(timerInputs.container.className === 'invisible') {{
						resetPomodoro();
					}} else {{
						resetCustom();
					}}
				}};

				var initialiseTimerInputs = function() {{
					if(timerInputs.initialised === false) {{
						timerInputs.initialised = true;
						timerInputs.container = document.getElementById('custom-inputs');
						timerInputs.minutes = document.getElementById('input-minutes');
						timerInputs.seconds = document.getElementById('input-seconds');
					}}
				}};

				var resetPomodoro = function() {{
					reset(25, 0);
				}};

				var reset = function(m, s) {{
					minutes = m;
					seconds = s;
					refreshView();
				}};

				var resetCustom = function() {{
					var m, s;
					initialiseTimerInputs();
					m = parseInt(timerInputs.minutes.value, 10) || 0;
					s = parseInt(timerInputs.seconds.value, 10) || 0;
					if(verifyTimerInputsAreValid(m, s)) {{
						reset(m, s);
					}} else {{
						reset(0, 0);
					}}
				}};

				self.onClickInputPomodoro = function() {{
					stop();
					hideTimerInputs();
					self.onClickReset();
				}};

				var hideTimerInputs = function() {{
					initialiseTimerInputs();
					timerInputs.container.className = 'invisible';
				}};

				self.onClickInputCustom = function() {{
					stop();
					showTimerInputs();
					self.onClickReset();
				}};

				var showTimerInputs = function() {{
					initialiseTimerInputs();
					timerInputs.container.className = 'visible';
				}};

				self.onUpdateTimerInputs = function() {{
					resetCustom();
				}};

				self.onKeyPressTimerInputs = function() {{
					if(event.keyCode === 13) {{
						resetCustom();
					}}
				}};

				self.onClickInputDisplayMessage = function() {{
					initialiseAlarmInputs();
					if(alarmInputs.displayMessage.checked) {{
						alarmInputs.message.className = 'visible';
					}} else {{
						alarmInputs.message.className = 'invisible';
					}}
				}};

				var timer;

				var seconds;

				var minutes;

				var digits = {{
					initialised: false,
					second: {{
						tens: null,
						units: null
					}},
					minute: {{
						tens: null,
						units: null
					}}
				}};

				var timerInputs = {{
					initialised: false,
					container: null,
					seconds: null,
					minutes: null
				}};

				//var alarmInputs = {{
				//	initialised: false,
				//	audio: null,
				//	visual: null,
				//	displayMessage: null,
				//	message: null
				//}};

				return self;
			}}());
			// ]]>
		</script>
	</head>

	<body onload="VSPomodoro.onClickReset();">
		<div id="clock">
			<img id="minute-tens" src="blank.png" />
			<img id="minute-units" src="blank.png" />
			<img src="separator.png" />
			<img id="second-tens" src="blank.png" />
			<img id="second-units" src="blank.png" />
		</div>

		<p>Configure timer:</p>

		<div>
			<input id="input-pomodoro" checked="checked" name="configure-timer" onclick="VSPomodoro.onClickInputPomodoro();" type="radio" value="pomodoro" />
			<label for="input-pomodoro">Pomodoro</label>
		</div>

		<div>
			<input id="input-custom" name="configure-timer" onclick="VSPomodoro.onClickInputCustom();" type="radio" value="custom" />
			<label for="input-custom">Custom</label>
		</div>

		<div id="custom-inputs" class="invisible">
			<div>
				<label for="input-minutes">Minutes:</label>
				<input id="input-minutes" onblur="VSPomodoro.onUpdateTimerInputs();" onkeypress="VSPomodoro.onKeyPressTimerInputs();" type="text" />
			</div>

			<div>
				<label for="input-seconds">Seconds:</label>
				<input id="input-seconds" onblur="VSPomodoro.onUpdateTimerInputs();" onkeypress="VSPomodoro.onKeyPressTimerInputs();" type="text" />
			</div>
		</div>

		<!--p>Configure alarm:</p>

		<div>
			<input id="input-audio" checked="checked" type="checkbox" />
			<label for="input-audio">Audio</label>
		</div>

		<div>
			<input id="input-visual" checked="checked" type="checkbox" />
			<label for="input-visual">Visual</label>
		</div>

		<div>
			<input id="input-display-message" onclick="VSPomodoro.onClickInputDisplayMessage();" type="checkbox" />
			<label for="input-display-message">Message</label>
			<input id="input-message" class="invisible" type="text" />
		</div-->

		<div id="buttons">
			<input onclick="VSPomodoro.onClickStart();" type="button" value="Start" />
			<input onclick="VSPomodoro.onClickStop();" type="button" value="Stop" />
			<input onclick="VSPomodoro.onClickReset();" type="button" value="Reset" />
		</div>
	</body>
</html>
